﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">User Registration</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="userForm" ng-submit="submitForm()" novalidate>

        <!-- UserName -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.UserName.$invalid && (userForm.UserName.$dirty || submitted)}">
            <label class="control-label col-sm-2" for="UserName">Username:</label>
            <div class="col-sm-10" required>
                <input type="text" name="UserName" class="form-control" ng-model="newUser.UserName" placeholder="Your UserName" ng-required="true">
                <p ng-show="userForm.UserName.$error.required && (userForm.UserName.$dirty || submitted)" class="help-block">You Username is required.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.Password.$invalid && (userForm.Password.$dirty || submitted)}">
            <label class="control-label col-sm-2" for="Password">Password:</label>
            <div class="col-sm-10" required>
                <input type="password" name="Password" class="form-control" id="Password" placeholder="Enter Password" ng-model="newUser.Password" required>
                <p ng-show="userForm.Password.$error.required && (userForm.Password.$dirty || submitted)" class="help-block">You Password is required.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.FirstName.$invalid && (userForm.FirstName.$dirty || submitted)}">
            <label class="control-label col-sm-2" for="FirstName">FirstName:</label>
            <div class="col-sm-10">
                <input type="text" name="FirstName" class="form-control" id="FirstName" placeholder="Enter FirstName" ng-model="newUser.FirstName" required>
                <p ng-show="userForm.FirstName.$error.required && (userForm.FirstName.$dirty || submitted)" class="help-block">You FirstName is required.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.LastName.$invalid && (userForm.LastName.$dirty || submitted)}">
            <label class="control-label col-sm-2" for="LastName">LastName:</label>
            <div class="col-sm-10">
                <input type="text" name="LastName" class="form-control" id="LastName" placeholder="Enter LastName" ng-model="newUser.LastName" required>
                <p ng-show="userForm.LastName.$error.required && (userForm.LastName.$dirty || submitted)" class="help-block">You LastName is required.</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Gender:</label>
            <label class="radio-inline" style="padding-left:40px">
                <input type="radio" name="Gender" ng-model="newUser.Gender" ng-checked="newUser.Gender=='Male'" value="Male">Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="Gender" ng-model="newUser.Gender" ng-checked="newUser.Gender=='Female'" value="Female">Female
            </label>

        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.DateOfBirth.$invalid && (userForm.DateOfBirth.$dirty || submitted)}">
            <label class="control-label col-sm-2" for="DOB">DateOfBirth:</label>
            <div class="col-sm-10">
                <input type="date" name="DateOfBirth" class="form-control" id="DateOfBirth" ng-model="newUser.DateOfBirth" required>
                <p ng-show="userForm.DateOfBirth.$error.required && (userForm.DateOfBirth.$dirty || submitted)" class="help-block">You DateOfBirth is required.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.Email.$invalid && (userForm.Email.$dirty || submitted)}">
            <label class="control-label col-sm-2" for="Email">Email:</label>
            <div class="col-sm-10">
                <input type="email" name="Email" class="form-control" id="Email" placeholder="Enter Email" ng-model="newUser.Email" required>
                <p ng-show="userForm.Email.$error.required && (userForm.Email.$dirty || submitted)" class="help-block">You Email is required.</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Department">Department:</label>
            <div class="col-sm-10">
                <select data-ng-options="o for o in options" class="form-control" name="Department" data-ng-model="newUser.Department" required>
                    <option value="">Please select an option</option>
                </select>

            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.Address.$invalid && (userForm.Address.$dirty || submitted)}">
            <label class="control-label col-sm-2" for="Address">Address:</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="Address" rows="2" id="Address" ng-model="newUser.Address" required></textarea>
                <p ng-show="userForm.Address.$error.required && (userForm.Address.$dirty || submitted)" class="help-block">You Address is required.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" data-dismiss="modal" ng-disabled="userForm.$invalid" class="btn btn-primary" ng-click="create(newUser)">Register</button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>

</div>