﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container" ng-app="DynamicMenu" ng-controller="registrationController">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#CreateData">Open Modal</button>

        <!-- Modal -->
        <div class="modal fade" id="CreateData" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">User Registration</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="UserName">UserName:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="UserName" placeholder="Enter UserName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Password">Password:</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="Password" placeholder="Enter Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="FirstName">FirstName:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="FirstName" placeholder="Enter FirstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="LastName">LastName:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="LastName" placeholder="Enter LastName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Gender">Gender:</label>
                                <label class="radio-inline" style="padding-left:40px">
                                    <input type="radio" name="Gender">Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Gender">Female
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="DOB">DOB:</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="DOB" placeholder="Enter DOB">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Email:</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Department">Department:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Department" placeholder="Enter Department">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Address">Address:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="2" id="Address"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
        </div>
</body>
</html>
