﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Style.css" rel="stylesheet" />
<script src="~/Scripts/RegistrationScript.js"></script>

<body ng-app="DynamicMenu">

    <div class="container" ng-controller="registrationController">
        <hr>
        <h3>All Users</h3><span class="clearfix"> </span>
        <div class="pull-right" style="padding-bottom:20px;padding-right:40px">
            <b>Search:</b>
            <input type="text" id="custom-search-input" placeholder="Search User" ng-model="searchText" />
        </div>

        <div class="alert alert-info pull-left" ng-if="message">
            <a href="#" class="close" ng-click="clearMessage()">&times;</a>
            {{message}}
        </div>
        <table border="0" class="table" style="width:1100px">
            <thead>
                <tr>
                    <th>Index</th>
                    <th ng-click="sortData('Id')">Id <div ng-class="getSortClass('Id')"></div></th>
                    <th ng-click="sortData('UserName')">UserName <div ng-class="getSortClass('UserName')"></div></th>
                    <th ng-click="sortData('FirstName')">FirstName <div ng-class="getSortClass('FirstName')"></div></th>
                    <th ng-click="sortData('LastName')">LastName <div ng-class="getSortClass('LastName')"></div></th>
                    <th ng-click="sortData('Gender')">Gender <div ng-class="getSortClass('Gender')"></div></th>
                    <th ng-click="sortData('DateOfBirth')">DateOfBirth <div ng-class="getSortClass('DateOfBirth')"></div></th>
                    <th ng-click="sortData('Email')">Email <div ng-class="getSortClass('Email')"></div></th>
                    <th ng-click="sortData('Department')">Department <div ng-class="getSortClass('Department')"></div></th>
                    <th ng-click="sortData('Address')">Address <div ng-class="getSortClass('Address')"></div></th>
                    <th></th>
                    <th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="data in Data | filter :searchText | orderBy:sortColumn:reverseSort" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>{{$index+1}}</td>
                    <td>{{data.Id}}</td>
                    <td>{{data.UserName}}</td>
                    <td>{{data.FirstName}}</td>
                    <td>{{data.LastName}}</td>
                    <td>{{data.Gender}}</td>
                    <td>{{data.DateOfBirth| date:'MM/dd/yyyy'}}</td>
                    <td>{{data.Email}}</td>
                    <td>{{data.Department}}</td>
                    <td>{{data.Address}}</td>
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#EditUser" ng-click="selectUser(data)">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteUser" ng-click="selectUser(data)">Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>

        <!-- Trigger the modal with a button -->
        <!-- Create User -->

        <div style="padding:0px 40px 0px 0px">
            <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#CreateUser" ng-click="clearForm()">Add New</button>
        </div>

        <div class="modal fade" id="CreateUser" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <!-- Modal -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="restore()">&times;</button>
                        <h4 class="modal-title">User Registration</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="userForm" ng-submit="submitForm()" novalidate>

                            <!-- UserName -->
                            <div class="form-group" ng-class="{ 'has-error' : userForm.UserName.$invalid && (userForm.UserName.$dirty || submitted)}">
                                <label class="control-label col-sm-2" for="UserName">Username:</label>
                                <div class="col-sm-10" required>
                                    <input type="text" name="UserName" class="form-control" ng-model="newUser.UserName" placeholder="Your UserName" ng-required="true">
                                    <p ng-show="userForm.UserName.$error.required && (userForm.UserName.$dirty || submitted)" class="help-block">You Username is required.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.Password.$invalid && (userForm.Password.$dirty || submitted)}">
                                <label class="control-label col-sm-2" for="Password">Password:</label>
                                <div class="col-sm-10" required>
                                    <input type="password" name="Password" class="form-control" id="Password" placeholder="Enter Password" ng-model="newUser.Password" required>
                                    <p ng-show="userForm.Password.$error.required && (userForm.Password.$dirty || submitted)" class="help-block">You Password is required.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.FirstName.$invalid && (userForm.FirstName.$dirty || submitted)}">
                                <label class="control-label col-sm-2" for="FirstName">FirstName:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="FirstName" class="form-control" id="FirstName" placeholder="Enter FirstName" ng-model="newUser.FirstName" required>
                                    <p ng-show="userForm.FirstName.$error.required && (userForm.FirstName.$dirty || submitted)" class="help-block">You FirstName is required.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.LastName.$invalid && (userForm.LastName.$dirty || submitted)}">
                                <label class="control-label col-sm-2" for="LastName">LastName:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="LastName" class="form-control" id="LastName" placeholder="Enter LastName" ng-model="newUser.LastName" required>
                                    <p ng-show="userForm.LastName.$error.required && (userForm.LastName.$dirty || submitted)" class="help-block">You LastName is required.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Gender:</label>
                                <label class="radio-inline" style="padding-left:40px">
                                    <input type="radio" name="Gender" ng-model="newUser.Gender" ng-checked="newUser.Gender=='Male'" value="Male">Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Gender" ng-model="newUser.Gender" ng-checked="newUser.Gender=='Female'" value="Female">Female
                                </label>

                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.DateOfBirth.$invalid && (userForm.DateOfBirth.$dirty || submitted)}">
                                <label class="control-label col-sm-2" for="DOB">DateOfBirth:</label>
                                <div class="col-sm-10">
                                    <input type="date" name="DateOfBirth" class="form-control" id="DateOfBirth" ng-model="newUser.DateOfBirth" required>
                                    <p ng-show="userForm.DateOfBirth.$error.required && (userForm.DateOfBirth.$dirty || submitted)" class="help-block">You DateOfBirth is required.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.Email.$invalid && (userForm.Email.$dirty || submitted)}">
                                <label class="control-label col-sm-2" for="Email">Email:</label>
                                <div class="col-sm-10">
                                    <input type="email" name="Email" class="form-control" id="Email" placeholder="Enter Email" ng-model="newUser.Email" required>
                                    <p ng-show="userForm.Email.$error.required && (userForm.Email.$dirty || submitted)" class="help-block">You Email is required.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Department">Department:</label>
                                <div class="col-sm-10">
                                    <select data-ng-options="o for o in options" class="form-control" name="Department" data-ng-model="newUser.Department" required>
                                        <option value="">Please select an option</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.Address.$invalid && (userForm.Address.$dirty || submitted)}">
                                <label class="control-label col-sm-2" for="Address">Address:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="Address" rows="2" id="Address" ng-model="newUser.Address" required></textarea>
                                    <p ng-show="userForm.Address.$error.required && (userForm.Address.$dirty || submitted)" class="help-block">You Address is required.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="create(newUser)" data-dismiss="modal">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!---------Edit User------------>

        <div class="modal fade" id="EditUser" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="restore()">&times;</button>
                        <h4 class="modal-title">Edit User Data</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="EditForm" ng-submit="submitForm()" novalidate>

                            <!-- UserName -->
                            <div class="form-group" ng-class="{ 'has-error' : EditForm.UserName.$invalid && (EditForm.UserName.$dirty || submitted)}">
                                <label class="control-label col-sm-2" for="UserName">Username:</label>
                                <div class="col-sm-10" required>
                                    <input type="text" name="UserName" class="form-control" ng-model="clickedUser.UserName" placeholder="Your UserName" ng-required="true">
                                    <p ng-show="EditForm.UserName.$error.required && (EditForm.UserName.$dirty || submitted)" class="help-block">You Username is required.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : EditForm.Password.$invalid && (EditForm.Password.$dirty || submitted)}">
                                <label class="control-label col-sm-2" for="Password">Password:</label>
                                <div class="col-sm-10" required>
                                    <input type="password" name="Password" class="form-control" id="Password" placeholder="Enter Password" ng-model="clickedUser.Password" required>
                                    <p ng-show="EditForm.Password.$error.required && (EditForm.Password.$dirty || submitted)" class="help-block">You Password is required.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : EditForm.FirstName.$invalid && (EditForm.FirstName.$dirty || submitted)}">
                                <label class="control-label col-sm-2" for="FirstName">FirstName:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="FirstName" class="form-control" id="FirstName" placeholder="Enter FirstName" ng-model="clickedUser.FirstName" required>
                                    <p ng-show="EditForm.FirstName.$error.required && (EditForm.FirstName.$dirty || submitted)" class="help-block">You FirstName is required.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : EditForm.LastName.$invalid && (EditForm.LastName.$dirty || submitted)}">
                                <label class="control-label col-sm-2" for="LastName">LastName:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="LastName" class="form-control" id="LastName" placeholder="Enter LastName" ng-model="clickedUser.LastName" required>
                                    <p ng-show="EditForm.LastName.$error.required && (EditForm.LastName.$dirty || submitted)" class="help-block">You LastName is required.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Gender:</label>
                                <label class="radio-inline" style="padding-left:40px">
                                    <input type="radio" name="Gender" ng-model="newUser.Gender" ng-checked="clickedUser.Gender.trim()=='Male'" value="Male">Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Gender" ng-model="newUser.Gender" ng-checked="clickedUser.Gender.trim()=='Female'" value="Female">Female
                                </label>

                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : EditForm.DateOfBirth.$invalid && (EditForm.DateOfBirth.$dirty || submitted)}">
                                <label class="control-label col-sm-2" for="DOB">DateOfBirth:</label>
                                <div class="col-sm-10">
                                    <input type="date" name="DateOfBirth" class="form-control" id="DateOfBirth" ng-model="clickedUser.DateOfBirth" required>
                                    <p ng-show="EditForm.DateOfBirth.$error.required && (EditForm.DateOfBirth.$dirty || submitted)" class="help-block">You DateOfBirth is required.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : EditForm.Email.$invalid && (EditForm.Email.$dirty || submitted)}">
                                <label class="control-label col-sm-2" for="Email">Email:</label>
                                <div class="col-sm-10">
                                    <input type="email" name="Email" class="form-control" id="Email" placeholder="Enter Email" ng-model="clickedUser.Email" required>
                                    <p ng-show="EditForm.Email.$error.required && (EditForm.Email.$dirty || submitted)" class="help-block">You Email is required.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Department">Department:</label>
                                <div class="col-sm-10">
                                    <select data-ng-options="o for o in options" class="form-control" name="Department" data-ng-model="clickedUser.Department" required>
                                        <option value="">Please select an option</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : EditForm.Address.$invalid && (EditForm.Address.$dirty || submitted)}">
                                <label class="control-label col-sm-2" for="Address">Address:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="Address" rows="2" id="Address" ng-model="clickedUser.Address" required></textarea>
                                    <p ng-show="EditForm.Address.$error.required && (EditForm.Address.$dirty || submitted)" class="help-block">You Address is required.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" ng-disabled="EditForm.$invalid" ng-click="update(clickedUser)" data-dismiss="modal">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="restore()">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Delete User -->


        <div class="modal fade" id="DeleteUser" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Are You Sure?</h4>
                    </div>
                    <div class="modal-body">
                        <strong style="color:red">
                            You are going to delete... USER : "{{clickedUser.UserName}}". All information...
                        </strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete()">Yes</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>