@{
    ViewBag.Title = "GetSiteMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="~/Home/CreateData" rel="stylesheet" type="text/html" />
<body ng-app="DynamicMenu">
    <div class="container" ng-controller="registrationController">
        <hr>
        <h3>All Users</h3><span class="clearfix"> </span>

        <table border="0" class="table" style="width:1100px">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Id</th>
                    <th>UserName</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Gender</th>
                    <th>DateOfBirth</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Address</th>
                    <th></th>
                    <th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="data in Data" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>{{$index+1}}</td>
                    <td>{{data.Id}}</td>
                    <td>{{data.UserName}}</td>
                    <td>{{data.FirstName}}</td>
                    <td>{{data.LastName}}</td>
                    <td>{{data.Gender}}</td>
                    <td>{{data.DateOfBirth.slice(6,-2) | date: 'dd-MM-yyyy' }}</td>
                    <td>{{data.Email}}</td>
                    <td>{{data.Department}}</td>
                    <td>{{data.Address}}</td>
                    <td>
                        <button type="button" class="btn btn-success" href ng-click="edit(data)">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" href ng-click="delete()">Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>



        <!-- Trigger the modal with a button -->
        <!-- Create Data -->
        <div style="padding:0px 60px 0px 0px">
            <button type="button" class="btn btn-info btn-lg pull-right" href ng-click="show()">Add New</button>
        </div>
        <!-- Modal -->
        <script type="text/ng-template" id="CreateData">
            <div class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">User Registration</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">UserName:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="UserName" placeholder="Enter UserName" ng-model="newUser.UserName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Password">Password:</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="Password" placeholder="Enter Password" ng-model="newUser.Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="FirstName" >FirstName:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="FirstName" placeholder="Enter FirstName" ng-model="newUser.FirstName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="LastName" >LastName:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="LastName" placeholder="Enter LastName" ng-model="newUser.LastName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Gender" >Gender:</label>
                                    <label class="radio-inline" style="padding-left:40px">
                                        <input type="radio" name="Gender" ng-model="newUser.Gender">Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="Gender" ng-model="newUser.Gender">Female
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="DOB" >DOB:</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="DOB" placeholder="Enter DOB" ng-model="newUser.DOB">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email" >Email:</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="newUser.Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Department" >Department:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="Department" placeholder="Enter Department" ng-model="newUser.Department">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Address" >Address:</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="2" id="Address" ng-model="newUser.Address"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" ng-click="saveUser()">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </script>




        <!---------Edit Data------------>


        <script type="text/ng-template" id="EditData">
            <div class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit User Data</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" >UserName:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" data-ng-model="clickedUser.UserName" placeholder="Enter UserName"/>
                                        {{clickedUser.UserName}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Password">Password:</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="Password" placeholder="Enter Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="FirstName">FirstName:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="FirstName" placeholder="Enter FirstName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="LastName">LastName:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="LastName" placeholder="Enter LastName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Gender">Gender:</label>
                                    <label class="radio-inline" style="padding-left:40px">
                                        <input type="radio" name="Gender">Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="Gender">Female
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="DOB">DOB:</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="DOB" placeholder="Enter DOB">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Email:</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Department">Department:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="Department" placeholder="Enter Department">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Address">Address:</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="2" id="Address"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>


            </div>
        </script>


        <!-- Delete Data -->

        <script type="text/ng-template" id="DeleteData">
            <div class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Are You Sure?</h4>
                        </div>
                        <div class="modal-body">
                            <strong style="color:red">
                                You are going to delete...
                            </strong>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </script>



    </div>
</body>