﻿@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html ng-controller="tempController">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
    
    You Are Here...!!!!
</head>
<body>
    <div>
        <a href="~/">Get Back</a>
    </div>
</body>

</html>
