﻿
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}


ul li {
  display: block;
  position: relative;
  float: left;
  background: #1bc2a2;
}
li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul li a:hover { background: #2c3e50; }
li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li { float: none; }

li:hover a { background: #1bc2a2; }

li:hover li a:hover { background: #2c3e50; }

.main-navigation li ul li { border-top: 0; }
ul ul ul {
  left: 100%;
  top: 0;
}
ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }

footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

.odd {
       background-color:#f3f3f3;
           
     }
    
.even {
        background-color:#ffffff;
      }

 .table {
                    border-left:solid 1px #D8C3C3;
                    border-top:solid 1px #D8C3C3;
                     border-right:solid 1px #D8C3C3;
                        border-bottom:solid 1px #D8C3C3;
                }
 
 th {
     background-color:#D8C3C3;
    cursor:pointer;
 }

 
#custom-search-input[type="text"]{
  
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #cc4c4c;
    width: 180px;
    padding: 6px 0px 6px 35px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  
    }
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 10px solid black;
  display:inline-block;
}

.arrow-down {
  width: 0; 
  height: 0; 
   border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 10px solid black;
  display:inline-block;
}
.close{
 padding-left:20px;
}


