﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Angular JS Application</title>
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-dialog-service/5.3.0/dialogs-default-translations.js"></script>

    <script src="~/Scripts/MenuScript.js"></script>
    
</head>
<body>
    <center><h2 style="color:red">Dynamic Menu from DB in AngularJS</h2></center>
    <div class="container body-content">
       
        <div ng-app="DynamicMenu">
            <div ng-controller="menuController">
                <script type="text/ng-template" id="treeMenu">

                    <a href="/../DynamicMenuAngularJS/Home/Temp">{{menu.Name}}</a>

                    <ul ng-if="(Menu).length > 0">

                        <li ng-repeat="menu in Menu | filter:{Pid : menu.Id} : true " ng-include=" 'treeMenu' ">

                        </li>

                    </ul>
                </script>

                <ul class="main-navigation">

                    <li ng-repeat="menu in Menu | filter:{Pid : null} : true" ng-include="'treeMenu'">
                    </li>
                </ul>

            </div>
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Angular JS Application</p>
        </footer>
    </div>
   
</body>
</html>